#root {
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 20px;
}

h3 {
    margin-top: 0;
    font-size: 26px;
    text-align: center;
}

textarea {
    width: 300px;
    min-height: 200px;
    resize: vertical;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.translator {
    display: flex;
    justify-content: start;
}

.hints {
    width: 300px;
}

.input,
.output,
.hints-container {
    padding: 0 20px;
}

.output,
.hints-container {
    border-left: 1px solid gray
}

.output {
    flex-grow: 1;
    word-break: break-word;
}

.active {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.word-with-hint {
    display: flex;
    justify-content: space-between;
    word-break: break-word;
}

.translate-errors {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 300px;
    padding: 20px;
    word-break: break-word;
}

.translate-error {
    cursor: pointer;
    background: #323232;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    margin-bottom: 20px;
    padding: 15px;
    font-size: 15px;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, .7);
}

.ranslate-error__word,
.ranslate-error__error-message {
    margin: 0;
}